<div *ngIf="state">
    <div *ngIf="project">
        <div class='state'>
            <div class='in-progress'>
                <label>In progress:</label>
                <div
                    *ngIf="0 === kanbanCardService.find({project:project,states:[state],transitionType:transitionType.inProgress}).length">
                    -
                </div>
                <div *ngFor="let kanbanCard of sortDescendingByAgeInCurrentState(kanbanCardService.find({project:project,states:[state],transitionType:transitionType.inProgress}))"
                    style="list-style-type: none; float:center">
                    <app-kanban-card-overview [kanbanCard]="kanbanCard">
                    </app-kanban-card-overview>
                </div>
            </div>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <div class='pull'>
                <div *ngFor="let predecessorState of projectService.getStateModel(project).predecessors(state)"
                    style="list-style-type: none;">
                    Pull card from {{predecessorState.name}}:
                    <div
                        *ngIf="0 === kanbanCardService.find({project:project,states:[predecessorState],transitionType:transitionType.completed}).length">
                        -
                    </div>
                    <div *ngFor="let kanbanCard of sortDescendingByAgeInCurrentState(kanbanCardService.find({project:project,states:[predecessorState],transitionType:transitionType.completed}))"
                        style="list-style-type: none;">
                        <app-kanban-card-overview [kanbanCard]="kanbanCard" [state]="state"></app-kanban-card-overview>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>