<div *ngIf="kanbanCard">
    <div *ngIf="state">
        <div *ngIf="transition === transitionType.completed; else kanbanCardInProgress">
            <div *ngIf="projectService.get(kanbanCard.project) as projectObject">
                <div *ngFor="let successorState of projectService.getStateModel(projectObject).successors(state)">
                    <button type="submit" class="btn btn-success" (click)="pull(successorState)">Pull to
                        {{successorState.name}}</button>
                </div>
            </div>
        </div>

        <ng-template #kanbanCardInProgress>
            <div *ngIf="transition">
                <button type="submit" class="btn btn-success" (click)="markAsCompleted()">Mark as completed</button>
            </div>
        </ng-template>

        <button type="submit" class="btn btn-success"
            (click)="kanbanCardService.moveToTrash(kanbanCard)">Delete</button>
    </div>
</div>