<div *ngIf="project">
    <div *ngIf="state">
        <a [routerLink]="['/project-state/']" [queryParams]="{project:project.id, state: state.id }">
            <div class="projectState">
                <div>{{state.name}}</div>
                <div class='projectStateInProgress'>
                    <label
                        *ngIf="0 < heijunkaBoardService.getDomainModel().getStateModelOf(project).predecessors(state).length; else noPredecessorBlock">
                        {{heijunkaBoardService.getKanbanCards().find({project:project,states:[state],transitionType:transitionType.inProgress}).length}} (
                        {{heijunkaBoardService.getKanbanCards().find({project:project,states:heijunkaBoardService.getDomainModel().getStateModelOf(project).predecessors(state),transitionType:transitionType.completed}).length}}
                        )
                </label>
                    <ng-template #noPredecessorBlock>
                        {{heijunkaBoardService.getKanbanCards().find({project:project,states:[state],transitionType:transitionType.inProgress}).length}}
                    </ng-template>
                </div>
            </div>
        </a>
    </div>
</div>