<div *ngIf="heijunkaBoardService.getDomainModel()===undefined else topicAvailable">
    <a [routerLink]="['/heijunka-setup/']">
        Define and select a topic first. Then define a project as well.
    </a>
    You can access the topic definition and the project definition via the menu as well.
</div>

<ng-template #topicAvailable>
    <div *ngIf="0==heijunkaBoardService.getProjects().getProjects().length else projectsAvailable">
        <a [routerLink]="['/heijunka-setup/']">
            Define a project first.
        </a>
        You can access the project definition via the menu as well.
    </div>

    <ng-template #projectsAvailable>
        <div class="row">
            <div class="column" *ngFor="let project of heijunkaBoardService.getProjects().getProjects()"
                style="list-style-type: none;">
                <app-project [project]="project"></app-project>
            </div>
        </div>
        <app-cumulative-flow-chart></app-cumulative-flow-chart>
    </ng-template>
</ng-template>