<div *ngIf="modelBoardService.getDomainModel()">
    <label>States in focus:</label>
    <ul>
        <li *ngFor="let stateModel of stateModelService.availableStateModels()">
            <label>{{stateModel.name}}</label>
            <ul *ngFor="let state of stateModel.find()">
                <li style="list-style-type:none">
                    <input type="checkbox" (change)="onStateFocusChange(state, $event)" />
                    {{ state.name }}
                </li>
            </ul>
        </li>
    </ul>

    <div *ngIf="!personalKanbanPartOfStateModels()||!projectManagerKanbanPartOfStateModels()">
        <label>Add pre-defined state model:</label>
        <div>
            <div *ngIf="!personalKanbanPartOfStateModels()">
                <button type="submit" class="btn btn-success" (click)="addPersonalKanban()">Add Personal Kanban</button>
            </div>
            <div *ngIf="!projectManagerKanbanPartOfStateModels()">
                <button type="submit" class="btn btn-success" (click)="addProjectManagerKanban()">Add Project Manager
                    Kanban</button>
            </div>
        </div>
    </div>
</div>