<div *ngIf="project">
    <div *ngIf="state" class='link-object'>
        <a [routerLink]="['/project-state/']" [queryParams]="{project:project.id, state: state.id }">
            <div class="projectState" [style.background-color]=color>
                <div>{{state.name}}</div>
                <div class='projectStateInProgress'>
                    <label
                        *ngIf="0 < projectService.getStateModel(project).predecessors(state).length; else noPredecessorBlock">
                        {{kanbanCardService.find({project:project,states:[state],transitionType:transitionType.inProgress}).length}}
                        (
                        {{kanbanCardService.find({project:project,states:projectService.getStateModel(project).predecessors(state),transitionType:transitionType.completed}).length}}
                        )
                    </label>
                    <ng-template #noPredecessorBlock>
                        {{kanbanCardService.find({project:project,states:[state],transitionType:transitionType.inProgress}).length}}
                    </ng-template>
                </div>
            </div>
        </a>
    </div>
</div>