<div *ngIf="project" class="project">
    <app-kanban-card-create [project]="project"></app-kanban-card-create>
    <div *ngIf="state" class="project">
        <label>project id:{{project}}</label><br />
        <label>stte id:{{state}}</label><br />
        <label>Cards in this state:</label>
        <div class="row">
            <div class="column" *ngFor="let kanbanCard of heijunkaBoardService.getHeijunkaBoard().findKanbanCards({project:heijunkaBoardService.getHeijunkaBoard().getProject(project)})"
                style="list-style-type: none;">
                    {{kanbanCard.name.value}} (TODO filter by state as well)
            </div>
        </div>
    </div>