.project-state-details-title {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}

.move-to-predecessor {
    float: left;
    padding-right: 30px;
}

.state {
    margin:auto;
    width:80%;
}

.in-progress {
    float:left;
}

.pull {
    display:inline-flexbox;
}

.move-to-successor {
    float: right;
    padding-left: 30px;
}