<div *ngIf="modelBoardService.getDomainModel()">
    <label>States in focus:</label>
    <ul>
        <li *ngFor="let stateModel of stateModelService.availableStateModels()">
            <label>{{stateModel.name}}</label>
            <ul *ngFor="let state of stateModel.find()">
                <li style="list-style-type:none">
                    <input type="checkbox" name="state.id" (change)="onStateFocusChange(state, $event)"
                        [value]="state.id" [checked]="stateModelService.isInFocus(state)" />
                    {{ state.name }}
                </li>
            </ul>
        </li>
    </ul>

    <label>Projects in focus:</label>
    <ul>
        <li *ngFor="let project of projectService.availableProjects()" style="list-style-type:none">
            <input type="checkbox" name="project.id" (change)="onProjectFocusChange(project, $event)"
                [value]="project.id" [checked]="projectService.isInFocus(project)" />
            {{ project.valueOfProperty('name') }}
        </li>
    </ul>
</div>