<app-heijunka-board-view-menu></app-heijunka-board-view-menu>
<div *ngIf="topicService.current()===undefined else topicAvailable">
    <a [routerLink]="['/setup/']">
        Define and select a topic first. Then define a project as well.
    </a>
    You can access the topic definition and the project definition via the menu as well.
</div>

<ng-template #topicAvailable>
    <div *ngIf="0===projectService.availableProjects().length else projectsAvailable">
        <a [routerLink]="['/setup/']">
            Define a project first.
        </a>
        You can access the project definition via the menu as well.
    </div>

    <ng-template #projectsAvailable>
        <app-context-select></app-context-select>
        <div class="row">
            <div class="column" *ngFor="let project of projectService.availableProjects()"
                style="list-style-type: none;">
                <div *ngIf="projectService.isInFocus(project)">
                    <app-project [project]="project"></app-project>
                </div>
            </div>
        </div>
    </ng-template>
</ng-template>