.projectState {
    padding: 8px;
    margin: 10px;
    width: 180px;
    display:flexbox;
	float: left;
    background-color: rgb(230, 230, 230);
}

.projectState:hover {
    background-color: rgb(220, 220, 220);
  }

.projectState h3 {
    text-align: center;
};