<div *ngIf="project" class="project">
  <div *ngIf="renameMode">
    <input value="{{project.valueOfProperty('name')}}" (keydown.enter)="commitRename($event)" (keydown.esc)="cancelRename()">
  </div>
  <div *ngIf="!renameMode">
    <label (click)="activateRenameMode()">{{project.valueOfProperty('name')}}</label>
  </div>

  <app-kanban-card-create [project]="project"></app-kanban-card-create>
  <div
    *ngFor="let state of linearizeStateModelService.linearize(heijunkaBoardService.getHeijunkaBoard().getStateModelOf(project))">
    <app-project-state [project]="project" [state]="state"></app-project-state>
  </div>
</div>