<div *ngIf="kanbanCard">
    <div *ngIf="kanbanCard?.history?.currentStateTransition()?.state as stateId">
        <h1 class='link-title'>
            <a [routerLink]="['/project/']" [queryParams]="{id:kanbanCard.project}">
                <div>{{boardService.getProjects().get(kanbanCard.project).valueOfProperty('name')}}</div>
            </a>
            <div> > </div>
            <a [routerLink]="['/project-state/']"
                [queryParams]="{project:boardService.getProjects().get(kanbanCard.project).id, state: 
                boardService.getDomainModel().getStateModelOf(boardService.getProjects().get(kanbanCard.project)).getState(stateId)?.id }">
                <div>
                    {{boardService.getDomainModel().getStateModelOf(boardService.getProjects().get(kanbanCard.project)).getState(stateId)?.name}}
                </div>
            </a>
            <div> > </div>
            <div>
                <app-kanban-card-editable-name [kanbanCard]="kanbanCard"></app-kanban-card-editable-name>
            </div>
        </h1>
    </div>
</div>