/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Rubik';
    src: url('assets/fonts/Regular/Rubik-Regular.woff2') format('woff2'),
        url('assets/fonts/Regular/Rubik-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('assets/fonts/ExtraBold/Rubik-ExtraBold.woff2') format('woff2'),
        url('assets/fonts/ExtraBold/Rubik-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('assets/fonts/Black/Rubik-Black.woff2') format('woff2'),
        url('assets/fonts/Black/Rubik-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}


* {
    font-family: 'Rubik';
    font-weight: normal;
    font-style: normal;
}

@other-state-color: rgb(240,240,240);
@other-state-color-hover: rgb(230,230,230);

a {
    text-decoration: none;
    color: black;
}

.link-object {
    background-color: @other-state-color;
}

.link-object a > div {
    background-color: @other-state-color;
    padding: 10px;
}

.link-object a div:hover {
    background-color: @other-state-color-hover;
}

.link-title a > div {
    display:inline-block;
    margin-right:5px;
}

.link-title a div:hover {
    background-color: @other-state-color;
}

.link-title > div {
    display:inline-block;
    margin-right:5px;
}

.edit-object :hover {
    cursor:text;
}