<div *ngIf="kanbanCard && contextService.availableContexts().length > 0">
    <label (click)="displayContextSelection = ! displayContextSelection" class="link-object-on-background">Assigned to
        contexts:
        {{describeSelectedContexts()}}</label>

    <div *ngIf="displayContextSelection">
        <form>
            <div *ngFor="let context of contextService.availableContexts()">
                <input type="checkbox" (change)="onChange(context, $event)"
                    [checked]="contextService.isAssigned(kanbanCard,context)" />
                {{ context.name }}
            </div>
        </form>
    </div>
</div>