<div *ngIf="kanbanCard">
    <label (click)="displayContextSelection = ! displayContextSelection" class="link-object">Selected contexts:
        {{describeSelectedContexts()}}</label>

    <div *ngIf="displayContextSelection">
        <form>
            <div *ngFor="let context of contextService.availableContexts()">
                <input type="checkbox" (change)="onChange(context, $event)"
                    [checked]="contextService.isIdActive(kanbanCard.id,context)" />
                {{ context.name }}
            </div>
        </form>
    </div>
</div>