<div *ngIf="project" class="project">
    <div *ngIf="state" class="project">
        <div *ngIf="projectService.get(project) as projectObject">
            <div *ngIf="projectService.getStateModel(projectObject).getState(state) as stateObject">
                <app-project-state-view-menu [project]="projectObject" [state]="stateObject">
                </app-project-state-view-menu>
                <app-context-select></app-context-select>
                <div class="row">
                    <div class="column left">
                        <div *ngFor="let predecessorState of projectService.getStateModel(projectObject).predecessors(stateObject)"
                            class="move-to-predecessor link-object">
                            <a [routerLink]="['/project-state/']"
                                [queryParams]="{project:project, state:predecessorState.id }">
                                <div>{{predecessorState.name}}</div>
                            </a><br />
                        </div>
                    </div>

                    <div class="column middle">
                        <app-project-state-kanban-cards [project]="projectObject" [state]="stateObject">
                        </app-project-state-kanban-cards>
                    </div>
                    <div class="column right">
                        <div *ngFor="let successorState of projectService.getStateModel(projectObject).successors(stateObject)"
                            class='move-to-successor link-object'>
                            <a [routerLink]="['/project-state/']"
                                [queryParams]="{project:project, state:successorState.id }">
                                <div>{{successorState.name}}</div>
                            </a><br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>