<div *ngIf="kanbanCard" class="kanbanCard">
  <div *ngIf="renameMode">
    <input value="{{kanbanCard.valueOfProperty('name')}}" (keydown.enter)="commitRename($event)"
      (keydown.esc)="cancelRename()">
  </div>
  <div *ngIf="!renameMode">
    <label (click)="activateRenameMode()">{{kanbanCard.valueOfProperty('name')}}</label>
  </div>

  <div *ngIf="transition === transitionType.completed; else kanbanCardInProgress">
    <button type="submit" class="btn btn-success" (click)="pull()">Pull</button>
  </div>
  <ng-template #kanbanCardInProgress>
    <button type="submit" class="btn btn-success" (click)="markAsCompleted()">Mark as completed</button>
  </ng-template>
  <button type="submit" class="btn btn-success" (click)="moveToTrash()">Delete</button>
</div>