<div *ngIf="kanbanCard" class="link-object">
  <a [routerLink]="['/kanbanCard/']" [queryParams]="{id:kanbanCard.id }">
    <div>{{kanbanCard.valueOfProperty('name')}}</div>
  </a>

  <div *ngIf="transition === transitionType.completed; else kanbanCardInProgress">
    <button type="submit" class="btn btn-success" (click)="pull()">Pull</button>
    <button type="submit" class="btn btn-success" (click)="moveToTrash()">Delete</button>
  </div>
  <ng-template #kanbanCardInProgress>
    <div>
      <button type="submit" class="btn btn-success" (click)="markAsCompleted()">Mark
        as completed</button>
      <button type="submit" class="btn btn-success" (click)="moveToTrash()">Delete</button>
    </div>
  </ng-template>
</div>